body {
  max-width: 900px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(32, 32, 32);
  padding: 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom: 2px solid lightgray;
}

h1 {
  color: greenyellow;
  text-align: center;
}

.inputCnt {
  display: flex;
  justify-content: space-evenly;
}

label {
  color: greenyellow;
}

#botaoCalcular {
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
}

main {
  background-color: rgb(65, 65, 65);
  padding: 20px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
}

.calculoCnt {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  display: flex;
}

.calculoNome {
  color: #6980d6;
}

.resultado {
  color: white;
  font-size: 2em;
}
